


  <!-- Responsive Breakpoints swiper start -->
<section id="swiper-responsive-breakpoints" *ngIf="newsList && newsList.length > 0">
  <div class="row">
      <div class="col-12">
          <div class="card" style="background: none; box-shadow: inherit;">
              <div class="card-content">
                  <div class="card-body" style="padding: 0;">
                      <div class="swiper-responsive-breakpoints swiper-container" [swiper]="swiperResponsiveBreakpointsConfig">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide" *ngFor="let news of newsList" style="background: #fff; border-radius: 10px;">
                                <div class="news-hover" (click)="newsDetailOpen(news.id)">
                                  <i class="ft-search"></i>
                                </div>
                                <div class="card-body d-flex" style="flex-direction: column;">
                                  <div class="overlap d-flex">
                                    <img
                                      src="{{news.logoUrl ? news.logoUrl : 'https://seeklogo.com/images/A/abstract-company-shape-logo-D3087E8DB6-seeklogo.com.png'}}"
                                      (error)="updateUrl(news)" class="mr-2" style="border-radius: 50%; width: 42px; height: 42px;">
                                      <h4 class="card-title" style="color: blue; text-align: left;" title="{{news.newsTitle}}">{{news.newsTitleSuffix}}</h4>
                                  </div>
                                  <p class="card-text mt-2" style="color: black; cursor:default; text-align: left;" title="{{news.newsContent}}">
                                    {{news.newsContentSuffix}}</p>
                                </div>
                              </div>
                          </div>
                          <!-- Add Pagination -->
                          <!-- <div class="swiper-pagination"></div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Responsive Breakpoints swiper ends -->