.news-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(1, 1, 1, 0.4);
    border-radius: 50%;
    z-index: 9;
}
.news-hover{
    i{
        font-size: 22px;
        color: #fff;
    }
}
.news-title{
    font-weight: bold;
    margin-right: 10px;
}

.swiper-slide:hover{
    cursor: pointer;
        .news-hover{
            display: flex;
        }
}

.news-name{
    position: absolute;
    bottom: -30px;
}


.swiper-story-img{
    position: relative;
    width: 100%;
}
.news-subject{
    position: absolute;
    bottom: -13px;
    right: -15px;
    background: #F1E25B;
    padding: 6px 13px;
    border: 3px solid #fff;
    border-radius: 30%;
    z-index: 99;
    font-size: 14px;
    span{
        font-weight: 700;
    }
}

.news-circle{
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #36EEE0; 
    display: flex;
    align-items: center;
    border-radius: 50%;

}
.swiper-slide{
    height: auto;
}