<div class="row">
    <div class="col-sm-12" style="padding-top:0;">
        <app-homepage-news-panel style="width: 100%; height: 100%;" [type]="'Earnings'" [newsCount]="3" >
        </app-homepage-news-panel>
    </div>
    <!-- <div class="col-sm-4">
    <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100" [percentage]="true"></app-ad-panel>
</div> -->
</div>

<app-earnings-opportunities-list [allowedToSee] = "this.allowedToSee"></app-earnings-opportunities-list>


<!-- <div class="row">
    <div class="col-sm-12">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div>
</div> -->
<!-- Row Details  Datatables -->