<div class="center40">
    <label for="pickerKeyDateForAnalysis">Fiscal Year Start Date</label>
    <div class="row form-group">
        <div class="col-sm-8">
            <div class="input-group">
                <input class="form-control" readonly placeholder="Choose a date" name="pickerKeyDateForAnalysis"
                    [(ngModel)]="keyDateForAnalysis" ngbDatepicker #pickerKeyDateForAnalysis="ngbDatepicker">
                <div class="input-group-append">
                    <div class="input-group-text" (click)="pickerKeyDateForAnalysis.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <button type="submit" class="form-control btn btn-primary" (click)="Changed()">Get</button>
            </div>
        </div>
    </div>
</div>

<div>
    <hr *ngIf="this.historicalAnalysis != null && this.historicalAnalysis.estimatedEps != null">
    <div class="row" *ngIf="this.historicalAnalysis != null && this.historicalAnalysis.estimatedEps != null">
        <div style="margin: 0 auto; display: inline-block;">
            <table class="table table-responsive text-center m-0" style="text-align:center; font-size: medium;">
                <thead>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Change In Period</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Public Shares %</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Public Shares Effect</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Previous Actual EPS</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Calculated EPS</th>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: black solid 1px; padding: 5px; cursor: pointer;" title="Last Date : {{this.historicalAnalysis.earningsLastDate + ' 16:30'}}
3 Month Previous Date : {{this.historicalAnalysis.earningsPreviousThreeMonthDate + ' 16:30'}}">
                            Calculation</th>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.earningsThreeMonthChange ? this.historicalAnalysis.earningsThreeMonthChange  + '%' : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.publicPercentage ? this.historicalAnalysis.publicPercentage  + '%' : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.publicEffectedEps ? this.historicalAnalysis.publicEffectedEps : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.earningsEps ? this.historicalAnalysis.earningsEps : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.estimatedEps ? this.historicalAnalysis.estimatedEps : 'N/A' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr *ngIf="this.historicalAnalysis != null && this.historicalAnalysis.estimatedRevenue != null">
    <div class="row" *ngIf="this.historicalAnalysis != null && this.historicalAnalysis.estimatedRevenue != null">
        <div style="margin: 0 auto; display: inline-block;">
            <table class="table table-responsive text-center m-0" style="text-align:center; font-size: medium;">
                <thead>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Change In Period</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Public Shares %</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Public Shares Effect</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Previous Actual Revenue</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;">Calculated Revenue</th>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: black solid 1px; padding: 5px; cursor: pointer;"
                            title="Last Date : {{this.historicalAnalysis.earningsLastDate + ' 16:30'}}
3 Month Previous Date : {{this.historicalAnalysis.earningsPreviousThreeMonthDate + ' 16:30'}}
                            
Last Open : {{this.historicalAnalysis.earningsLastOpen ? this.historicalAnalysis.earningsLastOpen : 'N/A' }}
3 Month Previous Date Open : {{this.historicalAnalysis.earningsPreviousThreeMonthOpen ? this.historicalAnalysis.earningsPreviousThreeMonthOpen : 'N/A' }}">
                            Calculation</th>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.earningsThreeMonthChange ? this.historicalAnalysis.earningsThreeMonthChange  + '%' : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.publicPercentage ? this.historicalAnalysis.publicPercentage  + '%' : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.publicEffectedRevenue ? this.historicalAnalysis.publicEffectedRevenue : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.earningsRevenue ? this.historicalAnalysis.earningsRevenue : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.estimatedRevenue ? this.historicalAnalysis.estimatedRevenue : 'N/A' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr *ngIf="this.historicalAnalysis != null">
    <div class="row" *ngIf="this.historicalAnalysis != null">
        <div style="margin: 0 auto; display: inline-block;">

            <table class="table table-responsive text-center m-0" style="text-align:center; font-size: medium;">
                <thead>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousFourDayChangeFormula}}">-4d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousThreeDayChangeFormula}}">-3d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousTwoDayChangeFormula}}">-2d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousOneDayChangeFormula}}">-1d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousFourHourChangeFormula}}">-4h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousOneHourChangeFormula}}">-1h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousFifteenMinChangeFormula}}">-15m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousFiveMinChangeFormula}}">-5m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.previousOneMinChangeFormula}}">-1m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default; background-color: yellowgreen;"
                        title="{{'Key Date : ' + this.historicalAnalysis.keyDate}}">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyChangeFormula}}">Nightly Change</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneMinChangeFormula}}">1m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fiveMinChangeFormula}}">5m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fifteenMinChangeFormula}}">15m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneHourChangeFormula}}">1h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fourHourChangeFormula}}">4h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayChangeFormula}}">1d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.twoDayChangeFormula}}">2d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.threeDayChangeFormula}}">3d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fourDayChangeFormula}}">4d</th>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: black solid 1px; padding: 5px;">Change</th>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousFourDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousFourDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFourDayChange ?  this.historicalAnalysis.previousFourDayChange  + '%': 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousThreeDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousThreeDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousThreeDayChange ?  this.historicalAnalysis.previousThreeDayChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousTwoDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousTwoDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousTwoDayChange ?  this.historicalAnalysis.previousTwoDayChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousOneDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousOneDayChange ?  this.historicalAnalysis.previousOneDayChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousFourHourChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousFourHourChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFourHourChange ? this.historicalAnalysis.previousFourHourChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousOneHourChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneHourChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.previousOneHourChange ? this.historicalAnalysis.previousOneHourChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousFifteenMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousFifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFifteenMinChange ? this.historicalAnalysis.previousFifteenMinChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousFiveMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousFiveMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFiveMinChange ? this.historicalAnalysis.previousFiveMinChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.previousOneMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousOneMinChange ? this.historicalAnalysis.previousOneMinChange  + '%' : 'N/A' }}
                            </span>  
                              <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px; background-color: yellowgreen;"
                            title="{{'Key Date : ' + this.historicalAnalysis.keyDate}}"> </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.keyChangeValueFormula}}">
                                <span *ngIf="this.allowedToSee"
                                    [ngStyle]="{'color': this.historicalAnalysis.keyChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.keyChange ? this.historicalAnalysis.keyChange  + '%' : 'N/A' }}
                                </span>
                                <span *ngIf="!this.allowedToSee">
                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.oneMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.oneMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.oneMinChange ? this.historicalAnalysis.oneMinChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.fiveMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.fiveMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fiveMinChange ? this.historicalAnalysis.fiveMinChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.fifteenMinChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.fifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fifteenMinChange ?  this.historicalAnalysis.fifteenMinChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.oneHourChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.oneHourChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.oneHourChange ?this.historicalAnalysis.oneHourChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.fourHourChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.fourHourChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fourHourChange ? this.historicalAnalysis.fourHourChange  + '%': 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.oneDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.oneDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.oneDayChange ?  this.historicalAnalysis.oneDayChange  + '%'  : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.twoDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.twoDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.twoDayChange ?  this.historicalAnalysis.twoDayChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.threeDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.threeDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.threeDayChange ? this.historicalAnalysis.threeDayChange  + '%': 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;" title="{{this.historicalAnalysis.fourDayChangeValueFormula}}">
                            <span *ngIf="this.allowedToSee"
                                [ngStyle]="{'color': this.historicalAnalysis.fourDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.fourDayChange ? this.historicalAnalysis.fourDayChange  + '%' : 'N/A' }}
                            </span>
                            <span *ngIf="!this.allowedToSee">
                                <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <table class="table table-responsive text-center m-0" style="text-align:center; font-size: medium;">
                <thead>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fourDayPreviousDate + ' 23:00'}}">-4d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.threeDayPreviousDate + ' 23:00'}}">-3d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.twoDayPreviousDate + ' 23:00'}}">-2d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 23:00'}}">-1d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 19:00'}}">-4h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 22:00'}}">-1h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 22:45'}}">-15m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 22:55'}}">-5m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayPreviousDate + ' 22:59'}}">-1m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default; background-color: yellowgreen;"
                        title="{{'Key Date : ' + this.historicalAnalysis.keyDate}}">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate}}">Nightly Change</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate + ' 16:31'}}">1m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate + ' 16:35'}}">5m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate + ' 16:45'}}">15m</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate + ' 17:30'}}">1h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.keyDate + ' 20:30'}}">4h</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.oneDayFutureDate + ' 23:00'}}">1d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.twoDayFutureDate + ' 23:00'}}">2d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.threeDayFutureDate + ' 23:00'}}">3d</th>
                    <th style="border: black solid 1px; padding: 5px; cursor: default;"
                        title="{{this.historicalAnalysis.fourDayFutureDate + ' 23:00'}}">4d</th>
                </thead>
                <tbody>
                    <tr>
                        <th style="border: black solid 1px; padding: 5px;">Change</th>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousFourDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFourDayChange ?  this.historicalAnalysis.previousFourDayChange  + '%': 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousThreeDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousThreeDayChange ?  this.historicalAnalysis.previousThreeDayChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousTwoDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousTwoDayChange ?  this.historicalAnalysis.previousTwoDayChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousOneDayChange ?  this.historicalAnalysis.previousOneDayChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousFourHourChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFourHourChange ? this.historicalAnalysis.previousFourHourChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneHourChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.previousOneHourChange ? this.historicalAnalysis.previousOneHourChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousFifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFifteenMinChange ? this.historicalAnalysis.previousFifteenMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousFiveMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousFiveMinChange ? this.historicalAnalysis.previousFiveMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.previousOneMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.previousOneMinChange ? this.historicalAnalysis.previousOneMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px; background-color: yellowgreen;"
                            title="{{'Key Date : ' + this.historicalAnalysis.keyDate}}"> </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span style="cursor:default;"
                                title="{{this.historicalAnalysis.comparedDateToKeyDate + ' 23:00  --- ' + this.historicalAnalysis.keyDate + ' 16:30' }}">
                                <span
                                    [ngStyle]="{'color': this.historicalAnalysis.keyChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.keyChange ? this.historicalAnalysis.keyChange  + '%' : 'N/A' }}
                                </span>
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.oneMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.oneMinChange ? this.historicalAnalysis.oneMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.fiveMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fiveMinChange ? this.historicalAnalysis.fiveMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.fifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fifteenMinChange ?  this.historicalAnalysis.fifteenMinChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.oneHourChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.oneHourChange ?this.historicalAnalysis.oneHourChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.fourHourChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.fourHourChange ? this.historicalAnalysis.fourHourChange  + '%': 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.oneDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.oneDayChange ?  this.historicalAnalysis.oneDayChange  + '%'  : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.twoDayChange >= 0 ? '#40C057' :'tomato'}">{{this.historicalAnalysis.twoDayChange ?  this.historicalAnalysis.twoDayChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.threeDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.threeDayChange ? this.historicalAnalysis.threeDayChange  + '%': 'N/A' }}
                            </span>
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            <span
                                [ngStyle]="{'color': this.historicalAnalysis.fourDayChange >= 0 ? '#40C057' :'tomato'}">
                                {{this.historicalAnalysis.fourDayChange ? this.historicalAnalysis.fourDayChange  + '%' : 'N/A' }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th style="border: black solid 1px; padding: 5px;">Open</th>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousFourDayOpen ? this.historicalAnalysis.previousFourDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousThreeDayOpen ? this.historicalAnalysis.previousThreeDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousTwoDayOpen ? this.historicalAnalysis.previousTwoDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousOneDayOpen ? this.historicalAnalysis.previousOneDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousFourHourOpen ? this.historicalAnalysis.previousFourHourOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousOneHourOpen ? this.historicalAnalysis.previousOneHourOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousFifteenMinOpen ? this.historicalAnalysis.previousFifteenMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousFiveMinOpen ? this.historicalAnalysis.previousFiveMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.previousOneMinOpen ? this.historicalAnalysis.previousOneMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px; background-color: yellowgreen;"
                            title="{{'Key Date : ' + this.historicalAnalysis.keyDate}}"> </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.keyOpen ? this.historicalAnalysis.keyOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.oneMinOpen ? this.historicalAnalysis.oneMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.fiveMinOpen ? this.historicalAnalysis.fiveMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.fifteenMinOpen ? this.historicalAnalysis.fifteenMinOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.oneHourOpen ? this.historicalAnalysis.oneHourOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.fourHourOpen ? this.historicalAnalysis.fourHourOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.oneDayOpen ? this.historicalAnalysis.oneDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.twoDayOpen ? this.historicalAnalysis.twoDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.threeDayOpen ? this.historicalAnalysis.threeDayOpen : 'N/A' }}
                        </td>
                        <td style="border: black solid 1px; padding: 5px;">
                            {{this.historicalAnalysis.fourDayOpen ? this.historicalAnalysis.fourDayOpen : 'N/A' }}
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>