<!--Under Maintenance Starts-->
<section id="maintenance">
    <div class="container-fluid">
      <div class="row auth-height full-height-vh">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col-12 text-center">
              <img src="assets/img/gallery/lock.png" alt="" class="img-fluid maintenance-img mt-2" height="300" width="300">
              <h1 class="mt-4">Account Activating...</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Under Maintenance Starts-->