

				<div class="profile-title">
					<i class="ft-chevron-left"></i>
					<h5>Add Credit Card</h5>
				</div>
				<div class="profile-detail">
					<div class="profile-pass">
						<form>
							<label>
							Kartın Üzerindeki İsim
							<input type="" name="" placeholder="Muhammed Nişancı">
							</label>
							<label>
								Kart Numarası
								<input type="" name="">
							</label>
							<label>
								Son Kullanma Tarihi
								<div class="profile-pass-select">
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<select>
										<option>21</option>
										<option>22</option>
										<option>23</option>
									</select>
								</div>
							</label>
							<div class="profile-btn-con">
								<button class="profile-btn">Add</button>
							</div>
						</form>
					</div>
					
				</div>

