.navbar-top-header{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-top-items{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-top-items li{
    margin-left: 10px;
}
.navbar-top-items a{
    color: #111;
}

.nav-search-1{
    margin-top: 5px;
}

@media (max-width: 991px){
    .nav-search-1{
        margin-top: 10px;
    }
    .user-profile-s{
        width: 130px;
    }
    .navbar-top-items{
        margin: 0;
    }
    .header-logo{
        bottom: 0;
        display: flex;
        align-items: flex-end;
    }
}

