<div class="row"
    style="height: 300px; background-image: url('{{this.bannerUrl}}'); background-size: 100% 100%;">
    <div class="col-sm-3" style="margin-top: 150px;">
        <div class="row">
            <!-- <div class="col-sm-3"></div> -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="padding-top: 5%;">
                        <div class="card text-left" style="background-color: white;">
                            <div class="card-content">
                                <div class="card-body" style="max-height: 430px;">
                                    <div class="row d-flex">
                                        <div class="col-sm-12 align-self-center">
                                            
                                            
                                            <ol class="col-sm-12" style="padding: 0;">
                                                <li class="col-sm-12 d-flex align-center justify-content-between" style="padding: 0;">
                                                    <img src="https://s3.polygon.io/logos/zg/logo.png" alt="" class="cal-sm-3" style="width: 42px; height: 42px; border-radius: 50%; background:  #fbfbfb;">
                                                    <div class="col-sm-6 d-flex flex-column" style="padding: 0;">
                                                        <span>ZG</span>
                                                        <span style="font-size: .7em;">Zillow Group Inc. Class A</span>
                                                    </div>
                                                    <!-- <p>Although NEU beats its EPS estimate, misses Revenue Forecast for Q4,2020. NewMarket Corporation (NEU) reported Q4,2020 EPS (Earnings per share) as 6.12</p> -->
                                                    <span class="col-sm-3 chart" style="padding: 0;">
                                                        <!--Donut Chart 2 Starts-->
                                                        <div class="row text-left">
                                                            <div class="col-sm-12">
                                                                <div class="card" style="margin: 0; position: relative; display: flex; align-items: center; justify-content: center;">
                                                                    <span class="chart-count" style="position: absolute; font-size: .8em;">
                                                                        %90
                                                                    </span>
                                                                    <div class="card-content">
                                                                        <div class="card-body" style="padding: 0;">
                                                                            <div id="donut-chart2" class="">
                                                                                <x-chartist class="height-50" [data]="donutChart2.data" [type]="donutChart2.type" [options]="donutChart2.options" 
                                                                                [responsiveOptions]="donutChart2.responsiveOptions"
                                                                                    [events]="donutChart2.events" *ngIf="this.isBrowser"> 
                                                                                </x-chartist>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Donut Chart 2 Ends-->
                                                    </span>
                                                </li>
                                                <p class="card-text" style="color: #111; cursor:default" *ngFor="let news of this.mainNews" title="{{news.newsTitle}}">
                                                    We estimated exactly that NEU will beat his eps.. Therefore we knew the NEU investors earned towards our %92 successful estimation matching....
                                                </p>


                                                <li class="col-sm-12 d-flex align-center justify-content-between" style="padding: 0;">
                                                    <img src="https://s3.polygon.io/logos/zg/logo.png" alt="" class="cal-sm-3" style="width: 42px; height: 42px; border-radius: 50%; background:  #fbfbfb;">
                                                    <div class="col-sm-6 d-flex flex-column" style="padding: 0;">
                                                        <span>ZG</span>
                                                        <span style="font-size: .7em;">Zillow Group Inc. Class A</span>
                                                    </div>
                                                    <!-- <p>Although NEU beats its EPS estimate, misses Revenue Forecast for Q4,2020. NewMarket Corporation (NEU) reported Q4,2020 EPS (Earnings per share) as 6.12</p> -->
                                                    <span class="col-sm-3 chart" style="padding: 0;">
                                                        <!--Donut Chart 2 Starts-->
                                                        <div class="row text-left">
                                                            <div class="col-sm-12">
                                                                <div class="card" style="margin: 0; position: relative; display: flex; align-items: center; justify-content: center;">
                                                                    <span class="chart-count" style="position: absolute; font-size: .8em;">
                                                                        %90
                                                                    </span>
                                                                    <div class="card-content">
                                                                        <div class="card-body" style="padding: 0;">
                                                                            <div id="donut-chart2" class="">
                                                                                <x-chartist class="height-50" [data]="donutChart2.data" [type]="donutChart2.type" [options]="donutChart2.options" 
                                                                                [responsiveOptions]="donutChart2.responsiveOptions"
                                                                                    [events]="donutChart2.events"> 
                                                                                </x-chartist>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Donut Chart 2 Ends-->
                                                    </span>
                                                </li>
                                                <p class="card-text" style="color: #111; cursor:default" *ngFor="let news of this.mainNews" title="{{news.newsTitle}}">
                                                    We estimated exactly that NEU will beat his eps.. Therefore we knew the NEU investors earned towards our %92 successful estimation matching....
                                                </p>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <!-- <div class="col-sm-2" style="padding-top: 5%;" *ngFor="let number of [0,1,2,3,4]">
                <div class="card card-outline-success box-shadow-0 text-left" style="background-color: white;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-sm-12 align-self-center">
                                    <p class="card-text" style="color: black; cursor:default">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-12" style="padding-top:5%; padding-left:0px; padding-right:2%;">
                <app-homepage-news-panel style="width: 100%; height: 100%;"  [type]="'MainPanel'" [newsCount]="5"></app-homepage-news-panel>
            </div>
        
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" style="margin-top:10%; padding-right:2%; padding-left:2%;">
        <div class="row">
            
            <div class="col-sm-12">
                <app-upcoming-earnings></app-upcoming-earnings>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <app-earnings-opportunities-list [demo]="true" [dataCount]="'10'"></app-earnings-opportunities-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <input type="button" class="btn btn-info" value="More"
                            style="width:20%; margin-top:1%; margin-bottom:1%" (click)="getMore('earnings')"/>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-2" style="padding-top: 15%;">
                <div class="card card-outline-success box-shadow-0 text-left" style="background-color: black;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-sm-12 align-self-center">
                                    <p class="card-text" style="color: White; cursor:default">
                                        You can view for 7 Days
                                        Singup For Free. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
                    [percentage]="true"></app-ad-panel>
            </div>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <app-dividend-opportunities-list [demo]="true" [dataCount]="'10'"></app-dividend-opportunities-list>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <input type="button" class="btn btn-info" value="More"
                    style="width:20%; margin-top:1%; margin-bottom:1%"  (click)="getMore('dividend')"/>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-2">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div> -->
</div>
<div class="row">
    <!-- <div class="col-sm-2">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div> -->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <app-insider-trades-opportunities-list [demo]="true" [dataCount]="'10'"></app-insider-trades-opportunities-list>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <input type="button" class="btn btn-info" value="More"
                    style="width:20%; margin-top:1%; margin-bottom:1%"  (click)="getMore('insiderTrades')"/>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12" style="margin-bottom: 1%; margin-top: 1%; height: 100px;">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
        [percentage]="true"></app-ad-panel>
    </div>
</div> -->
<div class="row" style="margin-bottom: 1%;">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <app-analyst-ratings-opportunities-list [demo]="true" [dataCount]="'10'"></app-analyst-ratings-opportunities-list>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <input type="button" class="btn btn-info" value="More"
                    style="width:20%; margin-top:1%; margin-bottom:1%"  (click)="getMore('analystRatings')"/>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-2">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div> -->
</div>

<div class="col-sm-12">
    <app-horizontal-timeline-page></app-horizontal-timeline-page>
</div>
