

<div class="col-sm-12" style="padding-top:0;">
                <app-homepage-news-panel style="width: 100%; height: 100%;" [type]="'MainPanel'" [newsCount]="5" >
                </app-homepage-news-panel>
            </div>
<div style="height: 200px; margin-top: 10px; border-radius:30px; background: linear-gradient(45deg, rgba(255, 203, 145, .6) 0%, rgba(255, 239, 161, .7) 100%);">
    <div class="slider-banner" style="height: 200px; border-radius:30px">
        <!-- autoplay swiper start -->
        <section id="swiper-autoplay" style="border-radius: 30px">
            <div class="row">
                <div class="col-12">
                    <div class="card m-0" style="border-radius: 30px">
                        <div class="card-content">
                            <div class="card-body p-0">
                                <div class="swiper-autoplay swiper-container" [swiper]="swiperAutoplayConfig" style="border-radius: 30px">
                                    <div class="swiper-wrapper" style="height: 200px; border-radius:30px">
                                        <div class="swiper-slide" style="border-radius: 30px; "><img class="img-fluid" src="assets/img/banner/banner-20.jpg" alt="banner"></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="assets/img/banner/banner-7.jpg" alt="banner"></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="assets/img/banner/banner-8.jpg" alt="banner"></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="assets/img/banner/banner-9.jpg" alt="banner"></div>
                                        <div class="swiper-slide"><img class="img-fluid" src="assets/img/banner/banner-11.jpg" alt="banner"></div>
                                    </div>
                                    <!-- Add Pagination 
                                    <div class="swiper-pagination"></div> -->
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- autoplay swiper ends -->
    </div>
    <div class="col-sm-3">
        <div class="row">
            <!-- <div class="col-sm-3"></div> -->
            <div class="col-sm-12 pl-0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-left" style="background-color: white; border-radius: 50px; 	background:-moz-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
                        background:    -webkit-gradient( left bottom, right top, color-stop (0%, rgba(140, 0, 255, .6) ), color-stop(100%, rgba(2, 242, 114, .7) ) );
                        /* background: -webkit-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%); */
                        background:  -o-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
                        background: -ms-linear-gradient(45deg, rgba(140, 0, 255, .6) 0%, rgba(2, 242, 114, .7) 100%);
                        background: linear-gradient(45deg, rgba(255, 180, 180, 1), rgba(255, 146, 146, 1) 100%);">
                            <div class="card-content">
                                <div class="card-body p-5">
                                    <div class="row d-flex justify-content-between">
                                        <div class="success-text d-flex flex-column justify-content-between">
                                            <h5 class="mb-2" style="font-family: exo;">Başarı Oranımız</h5>
                                            <div class="success-number d-flex flex-column">
                                                <span style="font-weight: bolder; font-size: 21px">95%</span>
                                                <span class="text-success"><i class="ft-arrow-up"></i> 2</span>
                                            </div>
                                        </div>
                                        <div class="success-chart">
                                            <img src="https://img.icons8.com/ios/100/000000/line-chart--v2.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <!-- <div class="col-sm-2" style="padding-top: 5%;" *ngFor="let number of [0,1,2,3,4]">
                <div class="card card-outline-success box-shadow-0 text-left" style="background-color: white;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-sm-12 align-self-center">
                                    <p class="card-text" style="color: black; cursor:default">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" style="margin-top:265px; padding-right:1%; padding-left:1%;">
        <div class="row">

            <div class="col-sm-12">
                <app-upcoming-earnings></app-upcoming-earnings>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <app-earnings-opportunities-list [demo]="true" [dataCount]="'10'" [allowedToSee]="this.allowedToSee">
                        </app-earnings-opportunities-list>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <input type="button" class="btn btn-info" value="More"
                            style="width:20%; margin-top:1%; margin-bottom:1%" (click)="getMore('earnings')" />
                    </div>
                </div> -->
            </div>
            <!-- <div class="col-sm-2" style="padding-top: 15%;">
                <div class="card card-outline-success box-shadow-0 text-left" style="background-color: black;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-sm-12 align-self-center">
                                    <p class="card-text" style="color: White; cursor:default">
                                        You can view for 7 Days
                                        Singup For Free. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
                    [percentage]="true"></app-ad-panel>
            </div>
        </div> -->
    </div>
</div>










  <!-- Responsive Breakpoints swiper start
  <section id="swiper-responsive-breakpoints" class="news-detail-read" style="background: #4A4A4A; margin-top: 20px;box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%)">
    <div style="width: 100%;">
        <div class="col-12 p-0">
            <div class="card" style="background: none; box-shadow: none;">
                <div class="card-content">
                    <div class="card-body">
                        <div class="news-detail-title" style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center; color: #111">
                            <h1 style="font-weight: bold; margin-right: 10px;">Pride Corner</h1>
                            <img src="assets/img/icons/prade.png" style="position: relative; width: 50px; transform: rotate(-70deg);">
                        </div>
                        <div class="swiper-responsive-breakpoints swiper-container" [swiper]="swiperResponsiveBreakpointsConfig">
                            <div class="swiper-wrapper pb-5">
                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 250px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px;">%98</span>
                                                <i class="ft-trending-up"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 70%; right: -3%; bottom: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 250px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px;">%98</span>
                                                <i class="ft-trending-up"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 70%; right: -3%; bottom: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 250px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px;">%98</span>
                                                <i class="ft-trending-up"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 70%; right: -3%; bottom: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>



                                

                                

                                
                            </div>
                            
                            <div class="swiper-pagination news-pagination"></div>

                           
                          <div class="swiper-button-next" style="background: red; right: 0;"></div>
                          <div class="swiper-button-prev"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

   -->


  <!-- Responsive Breakpoints swiper start -->
  <section id="swiper-responsive-breakpoints" class="news-detail-read" style="background: #4A4A4A; margin-top: 20px;box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%); margin-left: -2rem; margin-right: -2rem">
    <div style="width: 100%;">
        <div class="col-12 p-0">
            <div class="card" style="background: none; box-shadow: none;">
                <div class="card-content">
                    <div class="card-body" style="padding: 1rem">
                        <div class="news-detail-title" style=" display: flex; align-items: center; justify-content: center; color: #111">
                            <h1 style="font-weight: bold; margin-right: 10px;">Pride Corner</h1>
                            <img src="assets/img/icons/prade.png" style="position: relative; width: 50px; transform: rotate(-70deg);">
                        </div>
                        <div class="swiper-responsive-breakpoints swiper-container" [swiper]="swiperResponsiveBreakpointsConfig">
                            <div class="swiper-wrapper pb-5 pt-3">




                                <!-- <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <i class="ft-trending-up"></i>
                                                <span style="margin-left: 5px; font-size: 13px;">%98</span>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 18px; margin-bottom: 10px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: calc(100% - 30px); left: 15px; bottom: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px; border-radius: 40px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px; margin-top: 25px;">
                                            <div class="pride-rate-item" style="margin-right: 10px; padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="font-size: 13px;">Earnings</span>
                                            </div>
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <i class="ft-trending-up"></i>
                                                <span style="margin-left: 5px; font-size: 13px;">%98</span>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="border-radius: 40px; position: absolute; width: 80%; left: 15px; top: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div> -->

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>


                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>


                                <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 3px 11px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px; font-size: 12px;">%98</span>
                                                <i class="ft-trending-up" style="font-size: 12px;"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 16px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="font-size: 13.5px;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -22.5px; background: #fff; color: #333; height: 45px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 32px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; justify-content: space-around; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span style="font-size: 14px;">ZG</span>
                                                    <span class="pride-author-date" style="font-size: 14px;">12 OCT</span>
                                                </div>
                                                <span style="font-size: 12px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <!-- <div class="swiper-slide matchings-item" style="padding: 0; background: #fff;">
                                    <div class="pride-slider-item" style="width: 100%; height: 280px; background: #272727; color: #fff; display: flex; flex-direction: column; padding: 15px; position: relative;">

                                        <div class="pride-rate" style="width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;">
                                            <div class="pride-rate-item" style="padding: 5px 15px; border-radius: 30px; display: flex; justify-content: flex-end; align-items: center; background: #55CF59;">
                                                <span style="margin-right: 5px;">%98</span>
                                                <i class="ft-trending-up"></i>
                                            </div>
                                        </div>
                        
                                        <div class="pride-text" style="width: 100%; display: flex; flex-direction: column;">
                                            <span class="pride-title" style="font-weight: bold; font-size: 20px; margin-bottom: 10px; font-size: 17px;">
                                                We estimated exactly correct that ACA will be beat.
                                            </span>
                                            <p class="pride-content" style="height: 110px; overflow-y: scroll;">
                                                Arcosa Inc (ACA) has just announced that Q4,2020 Earnings Results will be serviced at 24 Şub 2021 (AMC). Their aim for EPS is 0,41 and Revenue is 457,56M. Let’s see that, will ACA be able to meet their expectations for this quarter. Please keep in mind that Arcosa Inc could beat EPS estimates on previous quarter, Q3,2020 but unfortunately missed it Revenue estimates. FYI, Revenue of the same quarter a year ago(Q4,2019) was 446,90M.
                                            </p>
                                        </div>
                        
                                        <div class="pride-author" style="position: absolute; width: 80%; right: -3%; bottom: -27.5px; background: #fff; color: #333; height: 55px; display: flex; align-items: center; padding: 10px">
                                            <div class="pride-author-logo" style="position: relative; width: 42px; display: flex; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid #514848; overflow: hidden;">
                                                <img src="assets/img/icons/logo.png" style="position: relative; width: 100%;">
                                            </div>
                                            <div class="pride-author-text" style="display: flex; flex-direction: column; padding: 10px; width: 100%;">
                                                <div style="display: flex; justify-content: space-between; font-weight: bold;">
                                                    <span>ZG</span>
                                                    <span class="pride-author-date">12 OCT</span>
                                                </div>
                                                <span style="font-size: 14px; color: #685E5E">American States Water Company</span>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div> -->
                                

                                

                                
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination news-pagination"></div>

                            <!-- Add Arrows
                          <div class="swiper-button-next" style="background: red; right: 0;"></div>
                          <div class="swiper-button-prev"></div>  -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Responsive Breakpoints swiper ends -->
  







<!-- <div class="col-sm-12">
    <app-horizontal-timeline-page></app-horizontal-timeline-page>
</div> -->