

<!-- <div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div id="line-chart2" class="height-150">
                            <ngx-charts-line-chart  [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient"
                                [xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                                [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                                [autoScale]="lineChartAutoScale" [showGridLines]="showGridLines">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




<section id="ngx-datatable-row-details" *ngIf="rows">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center pb-2" style="border-bottom: 1px solid #11111140; padding-right: 0; padding-left: 0; margin-right: 1.5rem; margin-left: 1.5rem">
                    <h4 class="card-title">Earnings with Effects</h4>
                    <div>
                        <label for="ngx-filter-rf">
                            <input id="ngx-filter-rf"
                                class="form-control form-control-sm d-inline-block width-300"
                                type="text" placeholder="Search"
                                (keyup)="filterUpdate($event)" style="border-radius:20px; padding: 17px" />
                        </label>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- ngx-datatable-row-details -->
                        <!-- ngx-datatable-filter -->
                        <!-- <fieldset class="form-group">
                            <div class="row">
                                <div>
                                    <label for="ngx-filter-rf">Ara:
                                        <input id="ngx-filter-rf"
                                            class="form-control form-control-sm d-inline-block width-300"
                                            type="text" placeholder="Earnings Date Bilgisine Göre Ara..."
                                            (keyup)="filterUpdate($event)" />
                                    </label>
                                </div>

                                <div class="col-sm-10"></div>
                            </div>
                        </fieldset> -->
                        <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows"
                        [sortType]="'multi'" [reorderable]="true"  [sorts]="[{prop: 'earningsDateText', dir: 'desc'}]">
                        <!-- Row Detail Template -->
                        <ngx-datatable-row-detail [rowHeight]="120" (toggle)="toggleDetail($event)">
                    
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                <div class="my-1">
                                    <div class="row" style="position:fixed; width: 90%; margin-left: 2.7%;">
                                        <div class="col-sm-12">
                                            <div class="row" style="overflow-x: auto; display: block;">


                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body p-0">
                                                            <div id="line-chart2" class="height-100">
                                                                <ngx-charts-line-chart  [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient"
                                                                    [xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                                                                    [showYAxisLabel]="lineChartShowYAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                                                                    [autoScale]="lineChartAutoScale" [showGridLines]="showGridLines">
                                                                </ngx-charts-line-chart>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>










                                               
                                                <!-- <table class="table table-responsive text-center m-0" style="font-size: medium;">
                                                    <thead>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousFourDayChangeFormula}}">-4d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousThreeDayChangeFormula}}">-3d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousTwoDayChangeFormula}}">-2d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousOneDayChangeFormula}}">-1d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousFourHourChangeFormula}}">-4h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousOneHourChangeFormula}}">-1h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousFifteenMinChangeFormula}}">-15m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousFiveMinChangeFormula}}">-5m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.previousOneMinChangeFormula}}">-1m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default; background-color: yellowgreen;"
                                                            title="{{'Key Date : ' + row.historicalAnalysis.keyDate}}">
                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyChangeFormula}}">Nightly Change</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneMinChangeFormula}}">1m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fiveMinChangeFormula}}">5m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fifteenMinChangeFormula}}">15m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneHourChangeFormula}}">1h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fourHourChangeFormula}}">4h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayChangeFormula}}">1d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.twoDayChangeFormula}}">2d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.threeDayChangeFormula}}">3d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fourDayChangeFormula}}">4d</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th style="border: black solid 1px; padding: 5px;">Change</th>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousFourDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFourDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFourDayChange ?  row.historicalAnalysis.previousFourDayChange  + '%': 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousThreeDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousThreeDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousThreeDayChange ?  row.historicalAnalysis.previousThreeDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousTwoDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousTwoDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousTwoDayChange ?  row.historicalAnalysis.previousTwoDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousOneDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousOneDayChange ?  row.historicalAnalysis.previousOneDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousFourHourChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFourHourChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFourHourChange ? row.historicalAnalysis.previousFourHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousOneHourChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneHourChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.previousOneHourChange ? row.historicalAnalysis.previousOneHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousFifteenMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFifteenMinChange ? row.historicalAnalysis.previousFifteenMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousFiveMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFiveMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFiveMinChange ? row.historicalAnalysis.previousFiveMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.previousOneMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousOneMinChange ? row.historicalAnalysis.previousOneMinChange  + '%' : 'N/A' }}
                                                                </span>  
                                                                  <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px; background-color: yellowgreen;"
                                                                title="{{'Key Date : ' + row.historicalAnalysis.keyDate}}"> </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.keyChangeValueFormula}}">
                                                                    <span *ngIf="this.allowedToSee"
                                                                        [ngStyle]="{'color': row.historicalAnalysis.keyChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.keyChange ? row.historicalAnalysis.keyChange  + '%' : 'N/A' }}
                                                                    </span>
                                                                    <span *ngIf="!this.allowedToSee">
                                                                        <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                    </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.oneMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.oneMinChange ? row.historicalAnalysis.oneMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.fiveMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fiveMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fiveMinChange ? row.historicalAnalysis.fiveMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.fifteenMinChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fifteenMinChange ?  row.historicalAnalysis.fifteenMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.oneHourChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneHourChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.oneHourChange ?row.historicalAnalysis.oneHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.fourHourChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fourHourChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fourHourChange ? row.historicalAnalysis.fourHourChange  + '%': 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.oneDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.oneDayChange ?  row.historicalAnalysis.oneDayChange  + '%'  : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.twoDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.twoDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.twoDayChange ?  row.historicalAnalysis.twoDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.threeDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.threeDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.threeDayChange ? row.historicalAnalysis.threeDayChange  + '%': 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;" title="{{row.historicalAnalysis.fourDayChangeValueFormula}}">
                                                                <span *ngIf="this.allowedToSee"
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fourDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.fourDayChange ? row.historicalAnalysis.fourDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                                <span *ngIf="!this.allowedToSee">
                                                                    <img src="../../../../assets/img/ico/blur.png" style="height:20px; width:50px;">
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table> -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-row-detail>

                        
                        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false"
                            [draggable]="false" [canAutoResize]="false">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                    (click)="rowDetailsToggleExpand(row)">
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Quarter-Year" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div>
                                    {{ 'Q' + value.quarter + ' - ' + value.year }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Earnings Date" prop="earningsDateText" [width]="25">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <div>
                                    {{ value + ' (' + row.announceType + ')'}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Eps / Forecast" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3">
                                        <span
                                            [ngStyle]="{'color': value.forecastEps && value.eps ? value.forecastEps > value.eps ? 'red' : 'green' : 'black' }">
                                            {{ value.eps ? (value.eps | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2">
                                        /
                                    </div>

                                    <div class="col-sm-3">
                                        <span>
                                            {{ value.forecastEps ? (value.forecastEps | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Revenue / Forecast" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3">
                                        <span
                                            [ngStyle]="{'color': value.forecastRevenue ? value.forecastRevenue > value.revenue ? 'red' : 'green' : 'black' }">
                                            {{ value.revenue ? (value.revenue | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2">
                                        /
                                    </div>
                                    <div class="col-sm-3">
                                        <span>
                                            {{ value.forecastRevenue ? (value.forecastRevenue | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
              
                    </ngx-datatable>
                        <!-- ngx-datatable-row-details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>