<div *ngIf="this.symbol">


    <div class="row">
        <div class="col-sm-12">
            <app-overview-panel [symbol]="this.symbol"></app-overview-panel>
        </div>
    </div>
    <!-- Background variants section start -->



    <div class="row" style="padding-left: 1%; padding-right: 1%;">

        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('opportunities')"
                [ngStyle]="{'background-color': selectedEdit == 'opportunities' ? 'black' : '#fff', 'color': selectedEdit == 'opportunities' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': 'linear-gradient(45deg, rgba(255, 203, 145, .6) 0%, rgba(255, 239, 161, .7) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Opportunities</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('previous-earnings-effects-of-stocks')"
                [ngStyle]="{'background-color': selectedEdit == 'previous-earnings-effects-of-stocks' ? 'black' : '#fff', 'color': selectedEdit == 'previous-earnings-effects-of-stocks' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': ' linear-gradient(45deg, rgb(50 125 36 / 60%) 0%, rgb(67 232 56 / 70%) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">

                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Previous Earnings Effects</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('predictions-from-other-websites')"
                [ngStyle]="{'background-color': selectedEdit == 'predictions-from-other-websites' ? 'black' : '#fff', 'color': selectedEdit == 'predictions-from-other-websites' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': ' linear-gradient(45deg, rgb(50 125 36 / 60%) 0%, rgb(67 232 56 / 70%) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">

                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Other Whispers from Websites</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('earnings-analysis-via-stock-peers')"
                [ngStyle]="{'background-color': selectedEdit == 'earnings-analysis-via-stock-peers' ? 'black' : '#fff', 'color': selectedEdit == 'earnings-analysis-via-stock-peers' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': ' linear-gradient(45deg, rgb(50 125 36 / 60%) 0%, rgb(67 232 56 / 70%) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">

                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Earning Analysis per Peers</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('previous-dividend-effects-of-stocks')"
                [ngStyle]="{'background-color': selectedEdit == 'previous-dividend-effects-of-stocks' ? 'black' : '#fff', 'color': selectedEdit == 'previous-dividend-effects-of-stocks' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': 'linear-gradient(45deg, rgba(0, 255, 231, 0.65) 0%, rgb(39, 187, 180) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">

                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Previous Dividend Effects</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" (click)="selectEdit('competitors')"
                [ngStyle]="{'background-color': selectedEdit == 'competitors' ? 'black' : '#fff', 'color': selectedEdit == 'competitors' ? '#fff' : 'black', 'cursor': this.symbol ? 'pointer' : 'not-allowed', 'background': 'linear-gradient(45deg, rgb(255 134 0 / 61%) 0%, rgb(251 0 0 / 70%) 100%)'}">
                <div class="card-content">
                    <div class="card-body" style="border: 1px solid gray; border-radius:5px;">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <span>
                                    <b>Competitors</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="this.symbol">
        <div class="col-sm-12" *ngIf="this.selectedEdit == 'opportunities'">
            <app-opportunities-list [symbol]="this.symbol" [allowedToSee] = "this.allowedToSee"></app-opportunities-list>
        </div>

        <div class="col-sm-12" *ngIf="this.selectedEdit == 'previous-earnings-effects-of-stocks'">
            <app-previous-earnings-effects-list [symbol]="this.symbol" [allowedToSee] = "this.allowedToSee"></app-previous-earnings-effects-list>
        </div>

        <div class="col-sm-12" *ngIf="this.selectedEdit == 'predictions-from-other-websites'">
            <app-other-predictions-from-websites-list [symbol] = "this.symbol" [allowedToSee] = "this.allowedToSee"></app-other-predictions-from-websites-list>
        </div>

        <div class="col-sm-12" *ngIf="this.selectedEdit == 'earnings-analysis-via-stock-peers'">
            <app-earnings-analysis-list [symbol]="this.symbol" [allowedToSee] = "this.allowedToSee"></app-earnings-analysis-list>
        </div>

        <div class="col-sm-12" *ngIf="this.selectedEdit == 'previous-dividend-effects-of-stocks'">
            <app-previous-dividend-effects-list [symbol]="this.symbol" [allowedToSee] = "this.allowedToSee"></app-previous-dividend-effects-list>
        </div>

        <div class="col-sm-12" *ngIf="this.selectedEdit == 'competitors'">
            <app-competitor-list [symbol]="this.symbol" [allowedToSee] = "this.allowedToSee"></app-competitor-list>
        </div>
    </div>
  </div>