<section id="ngx-datatable-row-details" *ngIf="rows">
    <div class="row" style="padding-left:1%; padding-right:1%">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Symbol's Opportunities</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- ngx-datatable-row-details -->
                        <!-- ngx-datatable-filter -->
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="ngx-filter-rf">Ara:
                                        <input id="ngx-filter-rf"
                                            class="form-control form-control-sm d-inline-block width-200" type="text"
                                            placeholder="Opportunity Adına Göre Ara..."
                                            (keyup)="filterUpdate($event)" />
                                    </label>
                                </div>

                                <div class="col-sm-10"></div>
                            </div>
                        </fieldset>
                        <div *ngIf="!this.allowedToSee" class="row">
                           Göremezsin.
                        </div>
                        <div *ngIf="this.allowedToSee">
                        <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows"
                            [sortType]="'multi'" [reorderable]="true">

                            <ngx-datatable-column name="Opportunity Type" prop="opportunityType" [width]="50">
                                <ng-template let-opportunity="value" ngx-datatable-cell-template>
                                    <div class="badge badge-pill"
                                        [ngClass]="{'bg-light-success': opportunity == 'Earnings', 'bg-light-danger': opportunity == 'Dividend'}">
                                        {{ opportunity? opportunity : "Nötr" }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date" prop="opportunityDate" [width]="25"
                                headerClass="center-align" [cellClass]="center-align">
                                <ng-template let-date="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align: center;">
                                            <span>
                                                {{ date ? date : "-" }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Actions" prop="offer" [width]="75" headerClass="center-align"
                                [cellClass]="center-align">
                                <ng-template let-offer="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align: center;">
                                            <div class="badge badge-pill"
                                                [ngClass]="{'bg-light-success': offer == 'Buy', 'bg-light-danger': offer == 'Sell'}">
                                                {{ offer? offer : "Nötr" }}
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                        <!-- ngx-datatable-row-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>