<li class="dropdown nav-item mr-1" placement="bottom-left" display="static" ngbDropdown *ngIf="this.user" style="z-index: 99999999;">
    <a class="nav-link dropdown-toggle user-dropdown d-flex align-items-end user-profile-img" id="dropdownBasic2" href="javascript:;"
        data-toggle="dropdown" ngbDropdownToggle style="border-radius: 40px;">
        
        <img class="avatar" src="assets/img/portrait/small/avatar-s-1.png" alt="avatar" height="35" width="35" />
        <div class="user mr-2 user-profile-name" style="padding-left: 10px;">
            <span class="text-left">{{ user.username }}</span><span class="text-left text-muted font-small-3" *ngIf="user.userType != null">{{user.userType}}</span>
            <span class="text-left text-muted font-small-3" *ngIf="user.userType == null">Boş</span>
        </div>
    </a>
    <div class="dropdown-menu text-left dropdown-menu-right m-0 pb-0" aria-labelledby="dropdownBasic2" ngbDropdownMenu>
        <!-- <a class="dropdown-item" routerLink="/chat">
            <div class="d-flex align-items-center">
                <i class="ft-message-square mr-2"></i><span>Chat</span>
            </div>
        </a> -->
        <a class="dropdown-item" routerLink="/pages/profile">
            <div class="d-flex align-items-center">
                <i class="ft-edit mr-2"></i><span>Edit Profile</span>
            </div>
        </a>
        <a class="dropdown-item" routerLink="/inbox">
            <div class="d-flex align-items-center">
                <i class="ft-mail mr-2"></i><span>My Inbox</span>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()">
            <div class="d-flex align-items-center">
                <i class="ft-power mr-2"></i><span>Logout</span>
            </div>
        </a>
    </div>
</li>
<li class="dropdown nav-item mr-1" placement="bottom-left" display="static" ngbDropdown *ngIf="!this.user">
    <a class="nav-link dropdown-toggle user-dropdown d-flex align-items-end" id="dropdownBasic2" href="javascript:;" (click)="logIn()">
        <div class="user d-md-flex d-none" style="text-align: center;height: 36px; width:100%">
            <div style="width: 100%;" style="padding: 10px; border: 1px solid gray; border-radius: 5px; width:100%">
                <span>Log In</span>
            </div>
        </div>
    </a>
</li>