<div class="row">
    <!-- Row Details  Datatables -->
    <div class="col-sm-8">
        <section id="ngx-datatable-row-details" *ngIf="rows">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Holiday List</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <!-- ngx-datatable-row-details -->
                                <!-- ngx-datatable-filter -->
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="ngx-filter-rf">Ara:
                                                <input id="ngx-filter-rf"
                                                    class="form-control form-control-sm d-inline-block width-300"
                                                    type="text" placeholder="Holiday Name Bilgisine Göre Ara..."
                                                    (keyup)="filterUpdate($event)" />
                                            </label>
                                        </div>

                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-2"><a class="btn btn-success btn-sm"
                                                (click)="selectEdit('new')">New Record</a></div>
                                    </div>
                                </fieldset>
                                <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap"
                                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="50" [limit]="10" [rows]="rows" [sortType]="'multi'"
                                    [reorderable]="true" [sorts]="[{prop: 'dateText', dir: 'desc'}]"
                                    style="text-align: center;">

                                    <ngx-datatable-column name="Holiday Name" prop="title" [width]="25">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <div style="text-align: center;">
                                                {{ value }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Holiday Date" prop="dateText" [width]="25">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <div class="row">
                                                <div class="col-sm-12" style="text-align: center;">
                                                    <span>
                                                        {{ value }}
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Effect Type" prop="effectType" [width]="25">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <div class="row">
                                                <div class="col-sm-12" style="text-align: center;">
                                                    <span>
                                                        {{ value ? value : "--" }}
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Region" prop="region" [width]="25">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <div class="row">
                                                <div class="col-sm-12" style="text-align: center;">
                                                    <span>
                                                        {{ value ? value : "--" }}
                                                    </span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="" [width]="5">
                                        <ng-template let-holiday="row" ngx-datatable-cell-template>
                                            <div style="text-align: center;">
                                                <div
                                                    class="badge badge-pill {{ !this.selectedHoliday || holiday.id != this.selectedHoliday.id ? 'bg-light-success' : 'bg-light-warning' }}">
                                                    <i class="ft-edit font-medium-3" (click)="SelectHoliday(holiday)">
                                                    </i>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                </ngx-datatable>
                                <!-- ngx-datatable-row-details -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="col-sm-4" *ngIf="rows">

        <section *ngIf="!this.selectedHoliday">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background-color: #efdeff;">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="background-color: #efdeff;">
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-12">
                                        <h5 style="margin-bottom:3%;">Select an Holiday To Show Edit Panel</h5>
                                        <i class="ft-lock font-medium-3" style="font-weight: 900;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section *ngIf="this.selectedHoliday">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background-color: #efdeff;">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="background-color: #efdeff;">
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-12">
                                        <h4>Select a Field To Edit</h4>
                                    </div>
                                </div>
                                <div class="row" style="border-radius:5px; border:solid 1px black; padding:1%">
                                    <div class="col-sm-8">
                                        <span *ngIf="this.selectedHoliday"> Selected Holiday =
                                            <b>{{ '{ ' + selectedHoliday.title + ' }' }}</b>
                                        </span>
                                    </div>
                                    <div class="col-sm-4" style="float: right;">
                                        <i class="ft-delete font-medium-5 pull-right" style="color:red; cursor:pointer"
                                            (click)="removeSelectedHoliday()"></i>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card" (click)="selectEdit('name')"
                                            [ngStyle]="{'background-color': selectedEdit == 'name' ? 'darkgray' : '#fff'}">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align: center;">
                                                            <span style="cursor: default;">
                                                                <b>Name</b>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="card" (click)="selectEdit('date')"
                                            [ngStyle]="{'background-color': selectedEdit == 'date' ? 'darkgray' : '#fff'}">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align: center;">
                                                            <span style="cursor: default;">
                                                                <b>Date</b>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card" (click)="selectEdit('effect')"
                                            [ngStyle]="{'background-color': selectedEdit == 'effect' ? 'darkgray' : '#fff'}">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align: center;">
                                                            <span style="cursor: default;">
                                                                <b>Effect</b>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="card" (click)="selectEdit('region')"
                                            [ngStyle]="{'background-color': selectedEdit == 'region' ? 'darkgray' : '#fff'}">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align: center;">
                                                            <span style="cursor: default;">
                                                                <b>Region</b>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            *ngIf="(this.selectedHoliday && this.selectedEdit) || this.selectedEdit == 'new' ">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background-color: #efdeff;">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body" style="background-color: #efdeff;">
                                <div class="row">

                                    <div class="col-sm-12" *ngIf="selectedEdit == 'new' ">
                                        <section id="newHoliday">
                                            <h4>New Holiday : </h4>
                                            <form [formGroup]="this.newForm">
                                                <div class="form-group">
                                                    <input type="text" formControlName="title"
                                                        class="form-control mb-2" placeholder="Holiday Name"
                                                        [ngClass]="{ 'is-invalid': this.newFormSubmitted && nf.title.invalid, 'is-valid': this.newFormSubmitted && !nf.title.invalid }"
                                                        required style="background:white">
                                                    <div *ngIf="this.newFormSubmitted && (nf.title.errors?.required)"
                                                        class="help-block mt-1 text-danger"> <i
                                                            class="ft-alert-circle align-middle"></i> Holiday Name is
                                                        required</div>
                                                </div>
                                            </form>
                                            <div class="input-group">
                                                <input class="form-control" readonly
                                                    placeholder="Choose an Holiday Date"
                                                    name="pickerDateForNewDataHolidayDate"
                                                    [(ngModel)]="this.keyDateForNewDataHolidayDate" ngbDatepicker
                                                    #pickerDateForNewDataHolidayDate="ngbDatepicker"
                                                    style="height:25px; cursor: pointer;"
                                                    (click)="pickerDateForNewDataHolidayDate.toggle()">
                                                <div class="input-group-append">
                                                    <div class="input-group-text"
                                                        (click)="pickerDateForNewDataHolidayDate.toggle()"
                                                        style="height:25px;">
                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4>Holiday Effect :</h4>
                                            <div class="form-group">
                                                <select #ddlSelectionAll class="form-control"
                                                    [(ngModel)]="this.selectedHoliday.effectTypeId" name="selectionRole"
                                                    style="background: white;">
                                                    <option *ngFor=" let x of this.effectTypeList" [value]="x.id">
                                                        {{x.typeName}}</option>
                                                </select>
                                            </div>

                                            <h4>Region :</h4>
                                            <div class="form-group">
                                                <select #ddlSelectionAll class="form-control"
                                                    [(ngModel)]="this.selectedHoliday.regionId" name="selectionRole"
                                                    style="background: white;">
                                                    <option *ngFor=" let x of this.regionList" [value]="x.id">
                                                        {{x.regionName}}</option>
                                                </select>
                                            </div>

                                            <div class="d-flex flex-sm-row flex-column justify-content-between">
                                                <button class="btn btn-primary ml-sm-1"
                                                    (click)="onSubmit()">Save</button>
                                            </div>

                                        </section>
                                    </div>


                                    <div class="col-sm-12" *ngIf="selectedEdit == 'name' ">
                                        <section id="reHolidayName">
                                            <h4>Change Holiday Name : </h4>
                                            <form [formGroup]="this.holidayNameForm">
                                                <div class="form-group">
                                                    <input type="text" formControlName="title"
                                                        class="form-control mb-2" placeholder="Holiday Name"
                                                        [ngClass]="{ 'is-invalid': this.holidayNameSubmitted && hnf.title.invalid, 'is-valid': this.holidayNameFormSubmitted && !hnf.title.invalid }"
                                                        required style="background:white">
                                                    <div *ngIf="this.holidayNameFormSubmitted && (hnf.title.errors?.required)"
                                                        class="help-block mt-1 text-danger"> <i
                                                            class="ft-alert-circle align-middle"></i> Holiday Name is
                                                        required</div>
                                                </div>
                                                <div class="d-flex flex-sm-row flex-column justify-content-between">
                                                    <button class="btn btn-primary ml-sm-1"
                                                        (click)="onSubmit()">Save</button>
                                                </div>
                                            </form>
                                        </section>
                                    </div>


                                    <div class="col-sm-12" *ngIf="selectedEdit == 'date' ">
                                        <h4>Change Holiday Date :</h4>
                                        <div class="input-group">
                                            <input class="form-control" readonly placeholder="Choose a date"
                                                name="pickerDateForHolidayDate" [(ngModel)]="this.keyDateForHolidayDate"
                                                ngbDatepicker #pickerDateForHolidayDate="ngbDatepicker"
                                                style="height:25px; cursor: pointer;"
                                                (click)="pickerDateForHolidayDate.toggle()">
                                            <div class="input-group-append">
                                                <div class="input-group-text"
                                                    (click)="pickerDateForHolidayDate.toggle()" style="height:25px;">
                                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-sm-row flex-column justify-content-between">
                                            <button class="btn btn-primary ml-sm-1" (click)="onSubmit()">Save</button>
                                        </div>
                                    </div>


                                    <div class="col-sm-12" *ngIf="selectedEdit == 'effect' ">
                                        <h4>Change Holiday Effect :</h4>
                                        <div class="form-group">
                                            <select #ddlSelectionAll class="form-control"
                                                [(ngModel)]="this.selectedHoliday.effectTypeId" name="selectionRole"
                                                style="background: white;">
                                                <option *ngFor=" let x of this.effectTypeList" [value]="x.id">
                                                    {{x.typeName}}</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
                                    </div>
                                    

                                    <div class="col-sm-12" *ngIf="selectedEdit == 'region' ">
                                        <h4>Change Holiday Effect :</h4>
                                        <div class="form-group">
                                            <select #ddlSelectionAll class="form-control"
                                                [(ngModel)]="this.selectedHoliday.regionId" name="selectionRole"
                                                style="background: white;">
                                                <option *ngFor=" let x of this.regionList" [value]="x.id">
                                                    {{x.regionName}}</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>