<div class="row" *ngIf="!this.symbol">
    <div class="col-12">
        <div class="card center30">
            <div class="card-header" style="background-color: #efdeff;">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-content">
                <div class="card-body" style="background-color: #efdeff;">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-12">
                            <h4><b>Select a Symbol</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="row" *ngIf="this.symbol">
    <div class="col-sm-12">
        <section id="bg-variants">
            <div class="row match-height">
                <div class="col-md-10 col-12">
                    <div class="card card-inverse bg-success text-center">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row d-flex">
                                    <div class="col align-self-center col-sm-2" style="border-right: black 1px solid;">
                                        <div class="row align-self-center">
                                            <div class="col col-sm-4 align-self-center" style="padding-right: 0px;">
                                                <div class="row">
                                                    <div class="col col-sm-12 align-self-center" style="margin-bottom:15%">
                                                        <span *ngIf="!symbol.isMonitoring" name="button">
                                                            <i class="ft-eye font-large-1" title="Watchlist'e Ekle"
                                                                style="cursor: pointer;" (click)="addToWatchList()"></i>
                                                        </span>
                                                        <span *ngIf="symbol.isMonitoring" name="buttonRev">
                                                            <i class="ft-eye-off font-large-1" title="Watchlist'den Çıkar"
                                                                style="cursor: pointer;"
                                                                (click)="removeFromWatchList()"></i>
                                                        </span>
        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-sm-12 align-self-center">
                                                        <i class="ft-bell font-large-1" title="Alert Oluştur"
                                                            style="cursor: pointer;"
                                                            (click)="showAlertModal()"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col align-self-center col-sm-8">
                                                <img src="{{symbol.logoUrl}}" title="{{symbol.ticker}}" width="80">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col align-self-center  col-sm-1">
                                    </div>
                                    <div class="col align-self-center  col-sm-2">
                                        <h4 class="card-title mb-2">Previous Open</h4>
                                        <p class="card-text">23.5 $</p>
                                        <br>
                                    </div>
                                    <div class="col align-self-center  col-sm-2">
                                        <h4 class="card-title mb-2">Earnings Date</h4>
                                        <p class="card-text">22 Aug (AMC)</p>
                                        <br>
        
                                    </div>
                                    <div class="col align-self-center  col-sm-2">
                                        <h4 class="card-title mb-2">Market Price</h4>
                                        <p class="card-text">Open</p>
                                        <p class="card-text">$1,26 (%6,78)</p>
                                    </div>
                                    <div class="col align-self-center  col-sm-2">
                                        <h4 class="card-title mb-2">Pre Market Price</h4>
                                        <p class="card-text">Open</p>
                                        <p class="card-text">$1,26 (%6,78)</p>
                                    </div>
                                </div>
                                <div style="background-color: black; margin-top: 1.5%; cursor: default;"
                                    class="align-self-center"><strong>Earnings</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-2 col-12">
                    <div class="card card-inverse bg-danger text-center">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row d-flex">
                                    <div class="col align-self-center">
                                        <h4 class="card-title mb-3">Alert</h4>
                                        <p class="card-text">Option Strategies Detected</p>
                                        <hr>
                                        <p class="card-text">Earnings</p>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
    </div>



    <div class="col-sm-12">
        
<!-- Row Details  Datatables -->
<section id="ngx-datatable-row-details" *ngIf="rows">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Earnings with Effects</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- ngx-datatable-row-details -->
                        <!-- ngx-datatable-filter -->
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="ngx-filter-rf">Ara:
                                        <input id="ngx-filter-rf"
                                            class="form-control form-control-sm d-inline-block width-300"
                                            type="text" placeholder="Earnings Date Bilgisine Göre Ara..."
                                            (keyup)="filterUpdate($event)" />
                                    </label>
                                </div>

                                <div class="col-sm-10"></div>
                            </div>
                        </fieldset>
                        <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows"
                        [sortType]="'multi'" [reorderable]="true"  [sorts]="[{prop: 'earningsDateText', dir: 'desc'}]" style="text-align:center;" >
                        <!-- Row Detail Template -->
                        <ngx-datatable-row-detail [rowHeight]="100">

                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                <div class="ml-5 my-1">
                                    <div class="row" style="position:fixed; width: 100%; ">
                                        <div class="col-sm-12">
                                            <div class="row"
                                                style="overflow-x: auto; display: block;">
                                               
                                                <table class="table table-responsive text-center m-0" style="text-align:center; font-size: medium;">
                                                    <thead>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"></th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fourDayPreviousDate + ' 23:00'}}">-4d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.threeDayPreviousDate + ' 23:00'}}">-3d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.twoDayPreviousDate + ' 23:00'}}">-2d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 23:00'}}">-1d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 19:00'}}">-4h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 22:00'}}">-1h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 22:45'}}">-15m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 22:55'}}">-5m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayPreviousDate + ' 22:59'}}">-1m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default; background-color: yellowgreen;"
                                                            title="{{'Key Date : ' + row.historicalAnalysis.keyDate}}">
                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate}}">Nightly Change</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate + ' 16:31'}}">1m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate + ' 16:35'}}">5m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate + ' 16:45'}}">15m</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate + ' 17:30'}}">1h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.keyDate + ' 20:30'}}">4h</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.oneDayFutureDate + ' 23:00'}}">1d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.twoDayFutureDate + ' 23:00'}}">2d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.threeDayFutureDate + ' 23:00'}}">3d</th>
                                                        <th style="border: black solid 1px; padding: 5px; cursor: default;"
                                                            title="{{row.historicalAnalysis.fourDayFutureDate + ' 23:00'}}">4d</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th style="border: black solid 1px; padding: 5px;">Change</th>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFourDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFourDayChange ?  row.historicalAnalysis.previousFourDayChange  + '%': 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousThreeDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousThreeDayChange ?  row.historicalAnalysis.previousThreeDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousTwoDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousTwoDayChange ?  row.historicalAnalysis.previousTwoDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousOneDayChange ?  row.historicalAnalysis.previousOneDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFourHourChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFourHourChange ? row.historicalAnalysis.previousFourHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneHourChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.previousOneHourChange ? row.historicalAnalysis.previousOneHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFifteenMinChange ? row.historicalAnalysis.previousFifteenMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousFiveMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousFiveMinChange ? row.historicalAnalysis.previousFiveMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.previousOneMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.previousOneMinChange ? row.historicalAnalysis.previousOneMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px; background-color: yellowgreen;"
                                                                title="{{'Key Date : ' + row.historicalAnalysis.keyDate}}"> </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span style="cursor:default;"
                                                                    title="{{row.historicalAnalysis.comparedDateToKeyDate + ' 23:00  --- ' + row.historicalAnalysis.keyDate + ' 16:30' }}">
                                                                    <span
                                                                        [ngStyle]="{'color': row.historicalAnalysis.keyChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.keyChange ? row.historicalAnalysis.keyChange  + '%' : 'N/A' }}
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.oneMinChange ? row.historicalAnalysis.oneMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fiveMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fiveMinChange ? row.historicalAnalysis.fiveMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fifteenMinChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fifteenMinChange ?  row.historicalAnalysis.fifteenMinChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneHourChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.oneHourChange ?row.historicalAnalysis.oneHourChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fourHourChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.fourHourChange ? row.historicalAnalysis.fourHourChange  + '%': 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.oneDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.oneDayChange ?  row.historicalAnalysis.oneDayChange  + '%'  : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.twoDayChange >= 0 ? '#40C057' :'tomato'}">{{row.historicalAnalysis.twoDayChange ?  row.historicalAnalysis.twoDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.threeDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.threeDayChange ? row.historicalAnalysis.threeDayChange  + '%': 'N/A' }}
                                                                </span>
                                                            </td>
                                                            <td style="border: black solid 1px; padding: 5px;">
                                                                <span
                                                                    [ngStyle]="{'color': row.historicalAnalysis.fourDayChange >= 0 ? '#40C057' :'tomato'}">
                                                                    {{row.historicalAnalysis.fourDayChange ? row.historicalAnalysis.fourDayChange  + '%' : 'N/A' }}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-row-detail>
                        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false"
                            [draggable]="false" [canAutoResize]="false">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                    (click)="rowDetailsToggleExpand(row)">
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Quarter-Year" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div style="text-align: center;">
                                    {{ 'Q' + value.quarter + ' - ' + value.year }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Earnings Date" prop="earningsDateText" [width]="25">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div style="text-align: center;">
                                    {{ value }}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Eps / Forecast" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" style="text-align: center;">
                                        <span
                                            [ngStyle]="{'color': value.forecastEps && value.eps ? value.forecastEps > value.eps ? 'red' : 'green' : 'black' }">
                                            {{ value.eps ? (value.eps | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2" style="text-align: center;">
                                        /
                                    </div>

                                    <div class="col-sm-3" style="text-align: center;">
                                        <span>
                                            {{ value.forecastEps ? (value.forecastEps | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Revenue / Forecast" [width]="25">
                            <ng-template let-value="row" ngx-datatable-cell-template>
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3">
                                        <span
                                            [ngStyle]="{'color': value.forecastRevenue ? value.forecastRevenue > value.revenue ? 'red' : 'green' : 'black' }">
                                            {{ value.revenue ? (value.revenue | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2">
                                        /
                                    </div>
                                    <div class="col-sm-3">
                                        <span>
                                            {{ value.forecastRevenue ? (value.forecastRevenue | number) : '--' }}
                                        </span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
              
                    </ngx-datatable>
                        <!-- ngx-datatable-row-details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Row Details  Datatables -->
    </div>

</div>


<div *ngIf="this.symbol">
    <app-alert-modal #modal [selectedSymbol]= "this.symbol"></app-alert-modal>
</div>