  <div class="profile-container">
    <div class="profile-child">
      <div class="profile-side-category">
        <span [ngStyle]= "{'background': selectedEditTitle == 'side-observings' ? '#111' : 'none', 'color': selectedEditTitle == 'side-observings' ? '#fff' : '#111'}" (click)="selectEditTitle('side-observings')">Observings</span>
        <span [ngStyle]= "{'background': selectedEditTitle == 'side-settings' ? '#111' : 'none', 'color': selectedEditTitle == 'side-settings' ? '#fff' : '#111'}" (click)="selectEditTitle('side-settings'); selectEdit('opportunity-list')">Settings</span>
      </div>
      <span class="profile-side-header">
        <i class="ft-settings" *ngIf="this.selectedEditTitle == 'side-settings'"></i>
        <i class="ft-user" *ngIf="this.selectedEditTitle == 'side-observings'"></i>
      </span>
      
      
      <ol class="profile-side-items"  *ngIf="this.selectedEditTitle == 'side-observings'">
        <li class="profile-side-item" [ngStyle]="{'font-weight': selectedEdit == 'profile-update' ? 'bold' : 'normal'}" (click)="selectEdit('profile-update')">Profilimi Güncelle</li>
        <li class="profile-side-item" [ngStyle]="{'font-weight': selectedEdit == 'credit-card-add' ? 'bold' : 'normal'}" (click)="selectEdit('credit-card-add')" >Add Credit Card</li>
        <li class="profile-side-item" [ngStyle]="{'font-weight': selectedEdit == 'credit-card-update' ? 'bold' : 'normal'}" (click)="selectEdit('credit-card-update')">Kart Bilgilerim</li>
      </ol>
      <ol class="profile-side-items"  *ngIf="this.selectedEditTitle == 'side-settings'">
        <li class="profile-side-item" [ngStyle]="{'font-weight' : selectedEdit == 'Watch-list' ? 'bold' : 'normal'}" (click)="selectEdit('opportunity-list')">Watch List</li>
        <li class="profile-side-item" [ngStyle]="{'font-weight' : selectedEdit == 'watchlist-opportunities-list' ? 'bold' : 'normal'}" (click)="selectEdit('watchlist-opportunities-list')">Opportunity List</li>
        <li class="profile-side-item" [ngStyle]="{'font-weight' : selectedEdit == 'alert-list' ? 'bold' : 'normal'}" (click)="selectEdit('alert-list')">Alert List</li>
      </ol>

      
    </div>



  

    <div class="profile-child" *ngIf="this.selectedEdit == 'credit-card-add'">
      <app-credit-card-add></app-credit-card-add>
    </div>

    <div class="profile-child" *ngIf="this.selectedEdit == 'profile-update'">
      <app-profile-update></app-profile-update>
    </div>

    <div class="profile-child" *ngIf="this.selectedEdit == 'credit-card-update'">
      <app-credit-card-update></app-credit-card-update>
    </div>


    <div class="profile-child" *ngIf="this.selectedEdit == 'watchlist-opportunities-list'">
      <app-watchlist-opportunities-list></app-watchlist-opportunities-list>
    </div>



    <div class="profile-child" *ngIf="this.selectedEdit == 'alert-list'">
      <app-alert-list></app-alert-list>
    </div>


    <div class="profile-child" *ngIf="this.selectedEdit == 'opportunity-list'">
      <app-opportunity-list></app-opportunity-list>
    </div>


    
  </div>