<!-- Row Details  Datatables -->

<section id="ngx-datatable-row-details" *ngIf="rows != undefined" style="position: relative;">
    <div class="earnings-list-register"
        style="position: absolute; height: 350px; width: 100%; bottom: 30px; background: green;">
        sa
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center pb-2"
                    style="border-bottom: 1px solid #11111140; padding-right: 0; padding-left: 0; margin-right: 1.5rem; margin-left: 1.5rem">
                    <h4 class="card-title">Earnings Opportunities</h4>
                    <div>
                        <label for="ngx-filter-ref">
                            <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-220 "
                                type="text" placeholder="Search" (keyup)="filterUpdate($event)"
                                style="border-radius:20px; padding: 17px" />
                        </label>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <!-- ngx-datatable-row-details -->
                        <!-- ngx-datatable-filter -->
                        <fieldset class="form-group">
                            <div class="row ml-0 d-flex justify-content-between mr-0">


                                <div class="switch-toggle switch-3 switch-candy"
                                    style="box-shadow: none; border-radius: 0; width: 200px; background: none; border: 1px solid #111;">
                                    <input id="on" class="p-1" name="state-d" type="radio" checked="">
                                    <label for="on" class="p-1" (click)="filterAnnounce('BMO')" onclick=""
                                        style="color: #111; text-shadow: none; border-right: 1px solid #111">BMO</label>

                                    <input id="na" class="p-1" name="state-d" type="radio" checked="checked">
                                    <label for="na" class="p-1" (click)="filterAnnounce('ALL')" onclick=""
                                        style="color: #111; text-shadow: none; border-right: 1px solid #111">All</label>

                                    <input id="off" class="p-1" name="state-d" type="radio">
                                    <label for="off" class="p-1" (click)="filterAnnounce('AMC')" onclick=""
                                        style="color: #111; text-shadow: none">AMC</label>

                                    <a></a>
                                </div>


                                <div class="switch-toggle switch-3 switch-candy" style="height: 25px;"
                                    *ngIf="!this.demo">
                                    <input id="opportunity" name="state-e" type="radio" checked="">
                                    <label for="opportunity" (click)="filterDataSet('earnings opportunity')"
                                        onclick="">Opportunities</label>

                                    <input id="earnings" name="state-e" type="radio" checked="checked">
                                    <label for="earnings" (click)="filterDataSet('earnings')"
                                        onclick="">Earnings</label>

                                    <a></a>
                                </div>

                                <div *ngIf="!this.demo">
                                    <div class="input-group">
                                        <input class="form-control" readonly placeholder="Choose a date"
                                            name="pickerKeyDateForOpportunities" [(ngModel)]="keyDateForOpportunities"
                                            ngbDatepicker #pickerKeyDateForOpportunities="ngbDatepicker"
                                            style="height:25px; cursor: pointer;"
                                            (click)="pickerKeyDateForOpportunities.toggle()"
                                            (ngModelChange)="getHotStockOpportunitiesWithDate()">
                                        <div class="input-group-append">
                                            <div class="input-group-text"
                                                (click)="pickerKeyDateForOpportunities.toggle()" style="height:25px;">
                                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.demo"></div>
                                <div>
                                    <div class="btn-group" role="group" style="width:100%">
                                        <!-- <select name="" id="" class="p-1">
                                            <option value="">Today</option>
                                            <option value="">Tomorrow</option>
                                            <option value="">This
                                                Week</option>
                                            <option value="">Next
                                                Week</option>
                                        </select> -->
                                        <button type="button" (click)="changeTimeRange('Today')"
                                            [ngClass]="{'btn': true, 'btn-secondary' : this.selectedTimeRange === 'Today', 'btn-outline-secondary' : this.selectedTimeRange !== 'Today'}"
                                            style="padding: 0px; padding-left: 5px; padding-right: 5px;">Today</button>
                                        <button type="button" (click)="changeTimeRange('Tomorrow')"
                                            [ngClass]="{'btn': true, 'btn-secondary' : this.selectedTimeRange === 'Tomorrow', 'btn-outline-secondary' : this.selectedTimeRange !== 'Tomorrow'}"
                                            style="padding: 0px; padding-left: 5px; padding-right: 5px;">Tomorrow</button>
                                        <button type="button" (click)="changeTimeRange('ThisWeek')"
                                            [ngClass]="{'btn': true, 'btn-secondary' : this.selectedTimeRange === 'ThisWeek', 'btn-outline-secondary' : this.selectedTimeRange !== 'ThisWeek'}"
                                            style="padding: 0px; padding-left: 5px; padding-right: 5px;">This
                                            Week</button>
                                        <button type="button" (click)="changeTimeRange('NextWeek')"
                                            [ngClass]="{'btn': true, 'btn-secondary' : this.selectedTimeRange === 'NextWeek', 'btn-outline-secondary' : this.selectedTimeRange !== 'NextWeek'}"
                                            style="padding: 0px; padding-left: 5px; padding-right: 5px;">Next
                                            Week</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <ngx-datatable #tableRowDetails class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                            [headerHeight]="60" [footerHeight]="60" [rowHeight]="60" [limit]="10" [rows]="rows"
                            [sortType]="'multi'" [reorderable]="true" [sorts]="[{prop: 'dateText', dir: 'asc'}]"
                            *ngIf="this.isBrowser" style="display: flex; align-items: center; position: relative">
                            <!-- Row Detail Template -->

                            <ngx-datatable-row-detail [rowHeight]="90" style="position: relative;">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div class="ml-5 my-1">
                                        <div class="earnings-lock"
                                            style="width: 100%; height: 200px; background: green; position: absolute; bottom: 0; left: 0; z-index: 999;">
                                            sa
                                        </div>
                                        <div class="row" style="position:fixed; width: 100%; ">
                                            <div class="col-sm-8">
                                                <div class="row"
                                                    style="padding-top: 5px; padding-bottom: 5px; display: block;">
                                                    <div class="col-sm-3"
                                                        style="border: 1px solid black; margin-right: 1%; display: inline-block;"
                                                        *ngFor="let otherPrediction of row.otherPredictions">
                                                        <div class="row">
                                                            <div class="col-sm-7" style="padding-left:5px;">
                                                                <div><strong> {{ otherPrediction.siteName }} </strong>
                                                                </div>
                                                                <div>
                                                                  <span title="{{ otherPrediction.consensusEps != null ?
                                                                    (otherPrediction.consensusEps | number) : otherPrediction.notExist ? 'Not Exist' : 'Not Announced' }}">  {{ otherPrediction.consensusEps != null ?
                                                                    (otherPrediction.consensusEps | number) : otherPrediction.notExist ? 'N/E' : 'N/A' }}</span>
                                                                    -
                                                                   <span title="{{ otherPrediction.consensusRevenue != null ?
                                                                    (otherPrediction.consensusRevenue | number) : otherPrediction.notExist ? 'Not Exist' : 'Not Announced' }}">
                                                                    {{ otherPrediction.consensusRevenue != null ?
                                                                        (otherPrediction.consensusRevenue | number) : otherPrediction.notExist ? 'N/E' : 'N/A' }}
                                                                   </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5"
                                                                style="padding: 0px; padding-right: 5px;">
                                                                <img src="{{otherPrediction.logoUrl}}"
                                                                    alt="{{otherPrediction.siteName}}" width="75"
                                                                    height="20">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-3" style="padding-top:1.5%">
                                                        <strong>Peer Analysis :</strong>
                                                    </div>
                                                    <div class="col-sm-9 peerResult">
                                                        <div>
                                                            <strong> EPS : </strong>
                                                            <i *ngIf="row.isPeerAvarageEpsSaysIncrease"
                                                                class="ft-trending-up"
                                                                style="color: yellowgreen; font-weight: 900; font-size: large;"
                                                                title="Forecast : {{row.forecastEps}} &#10; Avarage : {{row.peerAvarageEps}}"></i>
                                                            <i *ngIf="!row.isPeerAvarageEpsSaysIncrease"
                                                                class="ft-trending-down"
                                                                style="color: tomato; font-weight: 900; font-size: large;"
                                                                title="Forecast : {{row.forecastEps}} &#10; Avarage : {{row.peerAvarageEps}}"></i>
                                                        </div>
                                                        <div> <strong> Revenue : </strong>
                                                            <i *ngIf="row.isPeerAvarageRevenueSaysIncrease"
                                                                class="ft-trending-up"
                                                                style="color: yellowgreen; font-weight: 900; font-size: large;"
                                                                title="Forecast : {{row.forecastRevenue}} &#10; Avarage : {{row.peerAvarageRevenue}}"></i>
                                                            <i *ngIf="!row.isPeerAvarageRevenueSaysIncrease"
                                                                class="ft-trending-down"
                                                                style="color: tomato; font-weight: 900; font-size: large;"
                                                                title="Forecast : {{row.forecastRevenue}} &#10; Avarage : {{row.peerAvarageRevenue}}"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-row-detail>
                            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false"
                                [draggable]="false" [canAutoResize]="false" style="display: flex; align-items: center;">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template
                                    style="display: flex; align-items: center;">
                                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                        (click)="rowDetailsToggleExpand(row)"
                                        style="display: flex; align-items: center;">
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Ticker" prop="ticker" [width]="200">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div *ngIf="row.logoUrl; else customAvatar">
                                            <img class="rounded-circle mr-2" src="{{row.logoUrl}}"
                                                (error)="updateUrl(row)" height="32" width="32">
                                        </div>
                                        <ng-template #customAvatar>
                                            <div class="avatar mr-1 ml-0"
                                                [ngClass]="{'bg-primary': row.status == '1', 'bg-success':row.status == '2', 'bg-danger':row.status == '3' , 'bg-warning':row.status == '4', 'bg-info':row.status == '5'}  ">
                                                <div class="avatar-content">{{ name | shortName }}</div>
                                            </div>
                                        </ng-template>
                                        <div class="cell-line-height">
                                            <a [href]="getRedirectUrl(name)" target="blank">
                                                <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                                                <span class="text-muted font-small-2">
                                                    {{ row.companyName }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date" prop="dateText" [width]="25">
                                <ng-template let-date="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12" style="display: flex; align-items: center;">
                                            <span>
                                                {{ date ? date : "-" }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Eps" prop="forecastEps" [width]="10">
                                <ng-template let-eps="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span>
                                                {{ eps != null ? (eps | number) : '--' }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Revenue" prop="forecastRevenue" [width]="10">
                                <ng-template let-revenue="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span>
                                                {{ revenue != null ? (revenue | number) : '--' }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Reason" prop="reason" [width]="10">
                                <ng-template let-reason="value" ngx-datatable-cell-template>
                                    <!-- [ngClass]="{'bg-light-primary': reason == 'Earnings', 'bg-light-success':reason == 'News', 'bg-light-danger':status == 'InsiderTransaction'}" -->
                                    <div style="display: flex; align-items: center;">
                                        <img src="assets/img/icons/redcircle.png" alt="" style="margin-right: 5px;"> {{
                                        reason ? reason : "Nötr" }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Actions" prop="offer" [width]="10">
                                <ng-template let-offer="value" ngx-datatable-cell-template>
                                    <!-- [ngClass]="{'bg-light-success': offer == 'Buy', 'bg-light-danger': offer == 'Sell'}" -->
                                    <div *ngIf="this.allowedToSee" style="display: flex; align-items: center;">
                                        <img src="assets/img/icons/greencircle.png" alt="" style="margin-right: 5px;">
                                        {{ offer? offer : "Nötr" }}
                                    </div>
                                    <div *ngIf="!this.allowedToSee">
                                        <img src="../../../../assets/img/ico/blur.png" style="height:100%; width:100%">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="A. N. C" title="Avarage Nightly Change"
                                prop="avarageNightlyChange" [width]="10">
                                <ng-template let-change="value" ngx-datatable-cell-template>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span *ngIf="this.allowedToSee">
                                                {{ change ? (change | number) : '--' }}
                                            </span>

                                            <span *ngIf="!this.allowedToSee">
                                                <img src="../../../../assets/img/ico/blur.png"
                                                    style="height:100%; width:100%">
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                        <!-- ngx-datatable-row-details -->

                        <!-- 10 adet -->
                        <!-- <a href="" style="background: yellow; padding: 5px 30px; border-radius: 20px; color: #fff;">Register</a> -->
                        <!-- <div class="earnings-lock d-flex flex-column align-items-center justify-content-around" style="width: calc(100% - 3rem); height: 300px; background: #11111180; position: absolute; bottom: 0; left: 0; z-index: 999; margin-right: 1.5rem; margin-left: 1.5rem; margin-bottom: calc(60px + 1.5rem); font-size: 26px;">
                            <i class="ft-lock" style="font-size: 90px;"></i>
                            <span>Daha fazlası için <a href="" style=" color: yellow;  text-decoration: underline;">kayıt</a> olmalısın</span>
                            
                        </div> -->
                        <!-- 7 adet adet -->
                        <!-- <div class="earnings-lock d-flex flex-column align-items-center justify-content-around" style="width: calc(100% - 3rem); height: 180px; background: #11111180; position: absolute; bottom: 0; left: 0; z-index: 999; margin-right: 1.5rem; margin-left: 1.5rem; margin-bottom: calc(60px + 1.5rem); font-size: 26px;">
                            <i class="ft-lock" style="font-size: 90px;"></i>
                            <span>Daha fazlası için <a href="" style=" color: yellow;  text-decoration: underline;">kayıt</a> olmalısın</span>
                        </div> -->

                        <!-- 5 adet adet -->
                        <div style="backdrop-filter: blur(5px); border-radius: 20px;" [ngClass]="{
                             'earnings-lock': true, 
                         'd-flex': true, 
                         'flex-row' : true,
                        'align-items-center': true,
                        'justify-content-center': true}" [ngStyle]="{'width': 'calc(100% - 3rem)', 
                    'height': rows.length <=5 ? '120px' : rows.length <=7 ? '180px': '300px', 
                    'background':'#11111180', 
                    'position':'absolute',
                    'bottom':'0',
                    'left':'0',
                    'z-index':'999',
                    'margin-right':'1.5rem',
                    'margin-left':'1.5rem',
                    'margin-bottom':'calc(60px + 1.5rem)',
                    'font-size':'26px'
                }">
                            <div style="margin-right: 20px; color: #111">
                                <i class="ft-lock" [ngStyle]="{
                                    'font-size': '230px', 
                                    'margin-right' : rows.length <= 5 ? '10px' : '0px'
                                }"></i>
                            </div>
                        
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <span *ngIf="rows.length > 5" style="font-weight: bold; color: #fff; margin-bottom: 10px; text-align: left;">DAHA FAZLA İSTATİSTİK <br> İÇİN KAYIT OLMALISIN</span>
                                <a *ngIf="rows.length > 5" href=""
                                style="background: #FFD601; padding: 5px 30px; border-radius: 20px; color: #fff; font-size: 20px; width: 200px; text-align: center;">Register</a>
                            </div>

                            <div style="display: flex; flex-direction: column;">
                                <span *ngIf="rows.length <= 5">DAHA FAZLA İSTATİSTİK İÇİN   <a href=""
                                style=" color: yellow;  text-decoration: underline;">KAYIT</a> OLMALISIN</span>
                                <a *ngIf="rows.length <= 5" href=""
                                 style="background: #FFD601; padding: 5px 30px; border-radius: 20px; color: #fff; font-size: 20px">Register</a>
                           </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>