<section class="static">
    <div class="static-container">
        <div class="static-title">
            <h1>Why Daily Tradings? </h1>
        </div>
        <div class="static-main">
            <div class="why-container">
                <div class="why-child">
                    <span class="why-title">Wasting Too Much Time ? </span>

                    <div class="why-items">
                        <div class="why-item">
                            <span class="why-item-title">Let our Analysts & AI help you to Save Time </span>
                            <hr class="why-hr">
                            <ol>
                                <li>
                                    <span>1</span>
                                    <span>Are you frustrated of spending COUNTLESS HOURS SORTING THROUGH ENDLESS DATA</span>
                                </li>
                                <li>
                                    <span>2</span>
                                    <span>Are you tired of making BAD TRADES and LOOSING MONEY...</span>
                                </li>
                                <li>
                                    <span>3</span>
                                    <span>Are you wasting your time just because of scouring multiple sites trying to gather the right information & trying to analyze and organize historical and projected data...</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>


                <div class="why-child">
                    <span class="why-title">Tools That Give You an Edge</span>

                    <div class="why-items">
                        <div class="why-item">
                            <span class="why-item-title">Tremendous numbers of reports executed by experiences analystsme </span>
                            <hr class="why-hr">
                            <ol>
                                <li>
                                    <span>1</span>
                                    <span>Comparison of 3+ Whisperer Sites who are focused on Earnings’ Estimation examined and reported for you</span>
                                </li>
                                <li>
                                    <span>2</span>
                                    <span>Competitors of Stocks’ EPS & Revenue results realized on previous Quarters checked & compared</span>
                                </li>
                                <li>
                                    <span>3</span>
                                    <span>You can also view previous movement of stocks before, same day, or after earning dates  </span>
                                </li>
                                <li>
                                    <span>4</span>
                                    <span>Our Special indicators helps us to accurate the output of the results. </span>
                                </li>
                                <li>
                                    <span>5</span>
                                    <span>Open/Close price difference in that specific Q. </span>
                                </li>
                                <li>
                                    <span>6</span>
                                    <span>Detailed Predicted Moves Based On Earnings</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="why-child">
                    <span class="why-title">We help you to WIN </span>

                    <div class="why-items">
                        <div class="why-item">
                            <span class="why-item-title">Do Not Pay for Nothing, We did almost* everything for BEST ESTIMATION.  </span>
                            <hr class="why-hr">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>