<section class="static">
    <div class="static-container">
        <div class="static-title">
            <h1>About Us</h1>
        </div>
        <div class="static-main">
            <p>DailyTradings.com is an Deloitte awarded company and is providing %95 accurate Stocks’ Earnings Estimation; gathered by several resources and human (finance managers) verified AI based robots.
            Mother company was founded in 1999 and has several awards from both financial institutes and IT vendors such as Deloitte, Microsoft, Cisco, Intel etc. 
            DailyTradings is world’s first and only AI based research company that focuses on collecting stocks’ most accurate EPS and Revenue estimates + `whispers` from `reliability proven` companies such as EarningsWhispers, WhisperNumber, SeekingAlpha etc and addition to their estimated values, we are running  `human controlled` Artificial Intelligent based robots by checking stocks’ Peers and Competitors, Financials, Holders,  SEC Fillings, Insider Transactions, Analysts Ratings and other sensitive data to provide you INTERNET’s BEST ACCURATE (%95) EPS and Revenue estimates . </p>
        </div>
    </div>
</section>