<!-- <app-datatables></app-datatables> -->

<div class="row">
     <!-- [type]="'InsiderTrades'"  -->
    <div class="col-sm-12" style="padding-top:0;">
        <app-homepage-news-panel style="width: 100%; height: 100%;" [newsCount]="3" >
        </app-homepage-news-panel>
    </div>
    <!-- <div class="col-sm-4">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div> -->
</div>




<app-insider-trades-opportunities-list></app-insider-trades-opportunities-list>



<!-- <div class="row">
    <div class="col-sm-12">
        <app-ad-panel style="width: 100%; height: 100%;" [adType]="'BirNoluReklam'" [width]="100" [height]="100"
            [percentage]="true"></app-ad-panel>
    </div>
</div> -->
<!-- Row Details  Datatables -->