    <div class="profile-title-card">
        <h5>Kart Bilgilerim</h5>
        <span style="cursor: pointer;" (click)="addCard()">+</span>
    </div>
    <div class="profile-detail-card">
        <div class="profile-card">
            <div class="profile-card-top">
                <i class="ft-trash-2"></i>
                <img src="../assets/img/elements/master.png">
            </div>
            <div class="profile-card-name">
                <span>1234 **** **** **12</span>
                <span>12/22</span>
            </div>
        </div>
        
        
        
    </div>