<!--Footer Starts-->
<!-- <footer class="footer">
  <p class="copyright clearfix text-muted m-0">
    Copyright &copy; {{currentDate | date: 'yyyy'}} <a id="pixinventLink"
      href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent">PIXINVENT</a>
    <span class="d-none d-sm-inline-block">, All rights reserved.</span>
  </p>
</footer> -->
<!--Footer Ends-->



<footer id="footer" class="footer solid-bg">
  <div class="wf-wrap">
    <div class="wf-container-footer">
      <div class="wf-container">
        <section id="presscore-contact-info-widget-2"
          class="widget widget_presscore-contact-info-widget wf-cell wf-1-4">
          <div class="widget-title">Genel Merkez </div>
          <div class="widget-info">
            Rasimpa&#x15F;a Mah. Karakolhane cd. No:17 Yildiz Is Merkezi&#xD;&#xA;&#xD;&#xA;Kad&#x131;k&#xF6;y/Istanbul
            / Turkey&#xD;&#xA;
          </div>
          <ul class="contact-info">
            <li>
              <span class="color-primary">Tel:</span>
              <br />&#x2B;90 850 277 83 24
            </li>
          </ul>
          <div class="soc-ico">
            <p class="assistive-text">Bizi takip edin</p>
            <a title="Facebook" href="https://www.facebook.com/academytech/" target="_blank" title="Facebook">
              <i class="ft-facebook"></i>
            </a>

            <a title="Instagram" href="https://www.instagram.com/explore/tags/academytech/" target="_blank" title="Instagram">
              <i class="ft-instagram"></i>
            </a>
            <a title="Youtube" href="https://www.youtube.com/user/academytech" target="_blank" title="Youtube">
              <i class="ft-youtube"></i>
            </a>
            <a title="Mail" href="mailto:info@academytech.com" target="_top">
              <i class="ft-mail"></i>
            </a>
            <a title="Website" href="https://www.academytech.com/tr" target="_blank" title="website">
              <i class="ft-link"></i>
            </a>
          </div>
        </section>

        <section id="presscore-custom-menu-2-2"
          class="widget widget_presscore-custom-menu-2 widget-custom-nav wf-cell wf-1-4">
          <div class="widget-title">Ba&#x11F;lant&#x131;lar</div>
          <ul class="custom-nav">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-15110 first">
              <a [href]="['/pages/about-us']">
                <span>About Us</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15116">
              <a  [href]="['/pages/contact-us']">
                <span>Contact Us</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15115">
              <a  [href]="['/pages/why-us']">
                <span>Why Us</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15115">
              <a [href]="['/pages/copyright']">
                <span>Copyright</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15115">
              <a href="https://academytech.com/tr/cozum-ortaklarimiz">
                <span>&#xC7;&#xF6;z&#xFC;m Ortaklar&#x131;m&#x131;z</span>
              </a>
            </li>

          </ul>
        </section>
        <section id="presscore-custom-menu-2-2"
          class="widget widget_presscore-custom-menu-2 widget-custom-nav wf-cell wf-1-4">

          <ul class="custom-nav branchesList">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-15110 first">

              <span>Ankara</span>

              <p>
                Next Lavel / K&#x131;z&#x131;l&#x131;rmak Mah, Eski&#x15F;ehir Yolu No:3, 06520 &#xC7;ankaya/Ankara
              </p>
              <p>
                &#x2B;90 216 337 70 00
              </p>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-15110 first">

              <span>US Office</span>

              <p>
                Novel Katy Building&#xD;&#xA;701 Commerce St, Dallas, TX 75202, USA&#xD;&#xA;
              </p>
              <p>
                &#x2B;90 850 277 83 24
              </p>
            </li>


          </ul>
        </section>
      </div>
      <!-- .wf-container -->
    </div>
    <!-- .wf-container-footer -->

  </div><!-- .wf-wrap -->
  <!-- !Bottom-bar -->
  <div id="bottom-bar" class="solid-bg logo-left" role="contentinfo">
    <div class="wf-wrap">
      <div class="wf-container-bottom">

        <div id="branding-bottom">
          <a href="https://academytech.com/tr">
            <img class="preload-me" src="https://academytech.com/images/logobottom.png" srcset="https://academytech.com/images/logobottom.png?w=139 139w,
                           ~https://academytech.com/images/logobottom.png?w=139 139w" width="139" height="42"
              sizes="139px" alt="AcademyTech Eğitim ve Danışmanlık Merkezi" />
          </a>
        </div>
        <div class="wf-float-left">

          © 2021 Dailytradings.com 
        </div>


        <div class="wf-float-right">
          <div class="mini-nav">
            <ul class="bottom-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53039 first">
                <a [href]="['/pages/copyright']">
                  <span>Copyright</span>
                </a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15116">
                <a href="https://academytech.com/tr/cerez-kullanimi">
                  <span>&#xC7;erez Kullan&#x131;m&#x131;</span>
                </a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15115">
                <a href="https://academytech.com/tr/gizlilik-politikasi">
                  <span>Gizlilik Politikas&#x131;</span>
                </a>
              </li>


            </ul>
          </div>
        </div>

      </div><!-- .wf-container-bottom -->
    </div><!-- .wf-wrap -->
  </div><!-- #bottom-bar -->
</footer>