    <div class="profile-title">
      <h5>Profilimi Güncelle</h5>
    </div>
    <div class="profile-detail">
      <div class="profile-pass">
        <span class="profile-pass-title">Üyelik Bilgilerim</span>
        <form>
          <label>
          Name and Surname
          <input type="" name="" placeholder="Muhammed Nişancı">
          </label>
          <label>
            Mail
            <input type="" name="" placeholder="muhammednisanci2000@gmail.com">
          </label>
          <label>
            Call Number
            <input type="" name="" placeholder="0(555)555 55 55">
          </label>
          <div class="profile-btn-con">
            <button class="profile-btn">Update</button>
          </div>
        </form>
      </div>
      <div class="profile-pass">
        <span class="profile-pass-title">Şifremi Güncelle</span>
        <form>
          <label>
          Şuan ki Şifreniz
          <input type="" name="">
          </label>
          <label>
            New Password
            <input type="" name="">
          </label>
          <label>
            New Password
            <input type="" name="">
          </label>
          <div class="profile-btn-con">
            <button class="profile-btn">Change</button>
          </div>
        </form>
      </div>
    </div>