<section class="static">
    <div class="static-container">
        <div class="static-title">
            <h1>Contact Us</h1>
        </div>
        <div class="static-main">
            <div class="contact-children">
                <div class="contact-child">
                    <form>
                        <div>
                            <input type="" name="" required="">
                            <label>Name and Surname</label>
                        </div>
                        <div>
                            <input type="" name="" required="">
                            <label>e-mail Adress</label>
                        </div>
                        <div>
                            <input type="" name="" required="">
                            <label>Day Time Phone</label>
                        </div>
                        <div>
                            <textarea required=""></textarea>
                            <label>What is on your mind?</label>
                        </div>
                        <div>
                            <button>Send</button>
                        </div>
                    </form>
                </div>	
                <div class="contact-child">
                    <div id="contact-social">
                        <p>Bize Sosyal Medya Hesaplarımızdan da Ulaşabilirsiniz</p>
                        <ol>
                            <li>
                                <a href=""><i class="ft-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ft-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ft-instagram"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ft-linkedin"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ft-youtube"></i></a>
                            </li>
                        </ol>
                    </div>						
                </div>	
            </div>
        </div>
    </div>
</section>
